<!-- 
<mat-toolbar color="primary" class="app-header">
  <div><a routerLink=""  class="positronx">HRM BRYCEN</a></div>
  <span class="nav-tool-items">
    <a mat-button routerLink="employees" routerLinkActive="active" *ngIf="isLoggedIn">Employee List</a>
    <a mat-button routerLink="departments" routerLinkActive="active" *ngIf="isLoggedIn">Department</a>
    <a mat-button mat-raised-button routerLinkActive="active" *ngIf="isLoggedIn" (click)="logout()" >Log Out</a>
  </span>
</mat-toolbar>
<div class="main-wrapper">
  <router-outlet></router-outlet>
</div> -->

<router-outlet></router-outlet> 